<p>practica-parcial works!</p>

<div class="mb-3">
  <label for="lugar" class="form-label small opacity-75">Busque recetas:</label>
  <input
    type="text"
    id="lugar"
    name="lugar"
    class="form-control"
    [(ngModel)]="receta"
    placeholder="Jujuy"
    style="max-width: 200px;"
  >
</div>

<button (click)="buscarRecetas(receta)" class="btn btn-primary">Consultar</button>

<table class="table table-striped table-bordered align-middle">

      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Ingredients</th>
          <th>image</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let recetas of listaRecetas" >
          <td>
            {{ recetas.name}}
          </td>
          <td>
            {{recetas.description}}
          </td>

          <td >
            <div *ngFor="let i of recetas.ingredients">
              {{i.name}}
            </div>
          </td>
          <td>
            <img referrerpolicy="no-referrer"
            [src]="recetas.image" alt="Imagen de {{ recetas.name }}" style="max-width: 100px;">
          </td>
          <td>
            <div>
              <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalTraductor"
                (click)="traducirReceta(recetas.description)"

                >
                Detalles
              </button>
            </div>
          </td>
        </tr>
      </tbody>

</table>

<div class="modal fade" id="modalTraductor" tabindex="-1" aria-labelledby="modalTraductorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white"> <div class="modal-header border-secondary">
        <h5 class="modal-title fw-bold text-warning" id="modalTraductorLabel">
          🌎 Traducción de la Receta
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body py-4">
        <p>{{ traduccion }}</p>
      </div>

      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>

    </div>
  </div>
</div>
