<div class="mb-3">
  <label for="anio" class="form-label small opacity-75">Busque recetas:</label>
  <input
    type="text"
    id="anio"
    name="recipe"
    class="form-control"
    [(ngModel)]="name"
    placeholder="Pizza"
    style="max-width: 200px;"
  >
</div>

<button (click)="buscarVideo()" class="btn btn-primary">Consultar</button>


<table class="table table-striped table-bordered align-middle">

      <thead class="table-dark">
        <tr>
          <th>ID del Video</th>
          <th>Titulo</th>
          <th>Enlace del Video</th>
          <th>Canal</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let listaV of listaVideos">
          <td>
            {{listaV.video.videoId}}
          </td>
          <td>
            {{listaV.video.title}}
          </td>
          <td>
            {{listaV.video.descriptionSnippet}}
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <div>
              <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalTraductor"
                >
                Traducir
              </button>
            </div>
          </td>
        </tr>
      </tbody>

</table>


<div class="modal fade" id="modalTraductor" tabindex="-1" aria-labelledby="modalTraductorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white"> <div class="modal-header border-secondary">
        <h5 class="modal-title fw-bold text-warning" id="modalTraductorLabel">
          🌎 Traducción de la Receta
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body py-4">
        <p class="fs-6 lh-base">

        </p>
      </div>

      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>

    </div>
  </div>
</div>
