<div class="mb-3">
  <label for="lugar" class="form-label small opacity-75">Busque recetas:</label>
  <input
    type="text"
    id="lugar"
    name="lugar"
    class="form-control"
    [(ngModel)]="name"
    placeholder="Jujuy"
    style="max-width: 200px;"
  >
</div>

<button (click)="buscarHoteles()" class="btn btn-primary">Consultar</button>

<table class="table table-striped table-bordered align-middle">

      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Dueño</th>
          <th>Latitud-Longitud</th>
          <th>Detalle</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let hoteles of listaHoteles" >
          <td>
            {{ hoteles.name}}
          </td>
          <td>
            {{hoteles.owner_name}}
          </td>

          <td>
            <a
              [href]="'https://www.google.com/maps/search/?api=1&query=' + hoteles.latitude + ',' + hoteles.longitude"
              target="_blank"
              class="text-info text-decoration-underline fw-medium"
            >
              {{ hoteles.latitude }} , {{ hoteles.longitude }}
            </a>
          </td>

          <td>
            <div>
              <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalTraductor"
                (click)="getDetails(hoteles.business_id)"

                >
                Detalles
              </button>
            </div>
          </td>
        </tr>
      </tbody>

</table>


<div class="modal fade" id="modalTraductor" tabindex="-1" aria-labelledby="modalTraductorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white"> <div class="modal-header border-secondary">
        <h5 class="modal-title fw-bold text-warning" id="modalTraductorLabel">
          🌎 Traducción de la Receta
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body py-4">
          {{parametros[0]?.about?.summary}}
          <div *ngFor="let foto of parametros[0]?.photos_sample">
          <img
              [src]="foto.photo_url"
              alt="Receta"
            >
          </div>

      </div>

      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>

    </div>
  </div>
</div>
